/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}



/*
 * Base structure
 */


*{box-sizing:border-box}

html,
body { margin:0; 
  height: 100%;
  background-color: #000;
  font-family:sans-serif;
  color: #fff;
}

body{padding: 1rem;}


.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

body:before{height:4rem; background-color:rgba(0,0,0,0.75); display:block; content:""; position:fixed; width: 100%; top:0; z-index:0;}


table{width: 100%;max-width: 100%;border: .1em solid;border-color:#666;margin: 1rem 0;border-collapse: collapse;}
table  td{border-bottom: .1em solid ; padding: .5em;border-color:#666;}
table th{text-align:left;  background-color:#123; =border-bottom:.2em solid ; border-color:#666; padding:1em .5em  }


#view:checked ~ .bootstrap-table table{border:none; background-color:transparent;}
#view:checked ~ .bootstrap-table tbody{display:grid;grid-template-columns:  25% 25% 25% 25%; }

#view:checked ~ .bootstrap-table td:nth-child(2){font-size: 2rem; padding:1rem;}
@media (max-width:1000px){
  #view:checked ~ .bootstrap-table tbody{display:grid;grid-template-columns:  33.33% 33.33% 33.33% ; }

}

#view:checked ~ .bootstrap-table  table tr{display:block;  border: .1em solid #345; background-color:#234; margin: 1rem; float:left } 
#view:checked ~ .bootstrap-table  table td{display:block; border:none;}
#view:checked ~ .bootstrap-table  thead{display:none}





[for="view"]{  position: fixed; top:0 ; right:0;cursor:pointer; display:inline-block; width: 10rem; height: 3.7rem; }
[for="view"] svg{display:inline-block; max-height: 3rem;}
[for="view"] path{fill: #777; transform:scale(.95); transition: all .25s cubic-bezier(.4,.1,.1,1.2);}

#view{position:absolute; z-index:-1; opacity:0;  }


#view:checked ~ [for="view"] path:last-child,
#view:not(:checked) ~ [for="view"] path:first-child{fill:#fff;

transform:scale(1);}


#view:not(:checked) ~ [for="view"] .indicator{right:5rem}
#view:checked ~ [for="view"] .indicator{right:0}



.indicator{display:block;  position:fixed; height:.3em; width: 5rem; top: 3.5rem; right:5rem;background-color:#e00; transition: all .3s cubic-bezier(.5,.1,.1,1)}







table{border: .1em solid; 
background-color:#123;
border-collapse:collapse}
table td{padding: .5em 1em}

td:first-child{min-width: 6em; color:#678}

th{border-bottom:.1em solid;border-color:#567; padding: .75em; text-align:left}



table tr:hover td{background-color:#567}
table tr:hover td:first-child{color:#abc}